# Exercise 2 - Notebook Title
# My JupyterLite Notebook

Welcome to my Jupyter Notebook! this is introduction

 Data Science Languages

1. Python
2. R
3. Julia

Data Science Libraries

1. NumPy
2. Pandas
3. Matplotlib

Data Science Tools

| Tool          | Description                |
| ------------- | -------------------------- |
| Jupyter       | Interactive Notebooks      |
| TensorFlow    | Machine Learning Library   |
| scikit-learn  | Machine Learning Toolkit   |

Arithmetic Expressions

In this section, we'll explore some basic arithmetic operations using Python

In [3]:
# Exercise 8 - Multiply and Add Numbers
# Create a code cell to multiply and add numbers.
result_multiply = 5 * 10
result_add = 5 + 10

result_multiply, result_add

(50, 15)

In [4]:
# Exercise 9 - Convert Minutes to Hours
# Create a code cell to convert minutes to hours.
minutes = 120
hours = minutes / 60

hours

2.0

Exercise 10 - Objectives
Insert a markdown cell to list Objectives.


1. Understand basic data science languages.
2. Familiarize with essential data science libraries.
3. Explore common data science tools.
4. Practice basic arithmetic operations in Python.

---by Eunji Wang